#div1 
{   
     border: 10px dotted black;
    background-color: salmon; padding: 20px;
    background-clip: content-box;
}



#div2
{
    margin-top: 50px;
    height: 270px;
    width: 800px;
    border: 2px solid red;
    margin: auto;
}

p{  
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: -200px;
}


#div3
{   height: 900px;  
    background-image: url(mha3.jpg),  url(mha4.jpg), url(mha2.jpg);
    background-repeat: no-repeat; background-size: 600px 400px, 700px 350px, 400px 800px; 
    background-position: 100px 100px, 100px 550px, 900px 100px;
    
}

